
<form name="userForm" ng-submit="submitForm();">
	<div class="row" style="margin-top: 10%;">
	<h3>Sign Up</h3>
	    <div class="col-md-6 form-group">
			<input type="text" placeholder="Username" class="form-control" ng-model="registerUser.username">
		</div>			
	</div>	
	<div class="row">
	    <div class="col-md-6 form-group">
			<input type="text" placeholder="Password" class="form-control" ng-model="registerUser.password">
		</div>			
	</div>	
	<div class="row">
	    <div class="col-md-6 form-group">
			<input type="text" placeholder="Email" class="form-control" ng-model="registerUser.email">
		</div>			
	</div>	
	<div class="row">
	    <div class="col-md-6 form-group">
		  <select class="form-control" ng-model="registerUser.userType">
		  	<option>Consumer</option>
		  	<option>Supplier</option>
		  	<option>Designer</option>
		  	<option>Manufacturer</option>
		  </select>
		</div>			
	</div>	
	<div class="row">
		<div class="col-md-6 form-group">
			<button type="submit" class="btn btn-info btn-lg btn-block">Sign Up</button>
		</div>
	</div>					
</form>